<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/global.css" />
    <title>Meu site expressJS</title>
    <link rel="stylesheet" href="../../public/css/global.css" />
  </head>
  <nav class="menu"><img src="" alt="" /></nav>
  <main>
    <h3>Bem vindo(a) a Home!</h3>
    <p>lorem5</p>
  </main>
  <nav class="menu">
    <img src="https://i.redd.it/81qyx3kmo7zb1.jpg" alt="" />
    <ul>
      <a href="home">HOME</a>
      <a href="/contato">CONTATO</a>
      <a href="/sobre">SOBRE</a>
    </ul>
  </nav>
  <body></body>
</html>
